.search-box {
  position: relative;
  margin: 0 auto;
  /* width: 800px; */
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: url('../../assets/bgimg.jpeg') no-repeat center;
}

.search-box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.search-zone {
  position: absolute;
  top: 50px;
  left: 30px;
}